<app-navbar></app-navbar>

<div class="container" style="margin-top: 6rem;">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="card w-75 shadow">
            <form [formGroup]="updateForm" (submit)="submitUpdateForm()"
                class="card-body d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-center mt-4 font-weight-bold">Hello, {{authService.getUsername()}}!</h2>

                <hr class="hr w-100">
                <h4 class="mb-4">Update my info</h4>
                <div class="row w-100 mx-0 px-0">
                    <div class="col pe-2 ps-0">
                        <div class="input-group mt-3">
                            <span class="input-group-text">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                            </span>
                            <input type="mail" placeholder="Email" name="email" id="email" class="form-control"
                                formControlName="email"
                                [ngClass]="{'is-invalid' : updateForm.controls.email.invalid && updateForm.controls.email.touched}">
                        </div>
                        <div class="container d-flex justify-content-center align-items-center invalid-feedback"
                            *ngIf="updateForm.controls.email.errors?.['email'] && updateForm.controls.email.touched">
                            Prease provide a valid email address
                        </div>

                    </div>
                    <div class="col ps-2 pe-0">
                        <div class="input-group mt-3">
                            <span class="input-group-text">
                                <fa-icon [icon]="faUser"></fa-icon>
                            </span>
                            <input type="text" placeholder="Username" name="username" id="username"
                                formControlName="username"
                                [ngClass]="{'is-invalid' : updateForm.controls.username.invalid && updateForm.controls.username.touched}"
                                class="form-control">
                        </div>
                        <div class="container d-flex justify-content-center align-items-center invalid-feedback"
                            *ngIf="updateForm.controls.username.errors?.['minlength'] && updateForm.controls.username.touched">
                            The username must contains at least five characters
                        </div>
                    </div>
                </div>

                <div class="input-group mt-3">
                    <span class="input-group-text">
                        <fa-icon [icon]="faLock"></fa-icon>
                    </span>
                    <input type="password" placeholder="Password" name="password" id="password" class="form-control"
                        formControlName="password"
                        [ngClass]="{'is-invalid' : updateForm.controls.password.invalid && updateForm.controls.password.touched}">
                </div>
                <div class="container d-flex justify-content-center align-items-center invalid-feedback"
                    *ngIf="updateForm.controls.password.errors?.['minlength'] && updateForm.controls.password.touched">
                    The password must contains at least five characters
                </div>

                <div class="input-group mt-3">
                    <span class="input-group-text">
                        <fa-icon [icon]="faLock"></fa-icon>
                    </span>
                    <input type="password" placeholder="Confirm password" name="confirm_password" id="confirm_password"
                        formControlName="confirm_password"
                        [ngClass]="{'is-invalid' : updateForm.controls.confirm_password.invalid && updateForm.controls.confirm_password.touched}"
                        class="form-control">
                </div>
                <div *ngIf="updateForm.errors?.['passwordDontMatch']"
                    class="container d-flex justify-content-center align-items-center invalid-feedback">
                    The passwords must match
                </div>
                <div class="container d-flex justify-content-center align-items-center invalid-feedback">
                    {{ error }}
                </div>


                <!-- submit -->

                <div class="container d-grid justify-content-center mt-3 align-items-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!canSubmit">Save changes</button>
                    <button type="button" (click)="onDeleteAccount()" class="btn btn-danger mt-2 mb-3">Delete my
                        account</button>
                </div>
            </form>
        </div>
    </div>
</div>